---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
import type { FeatureItem } from "~/types";

const features: Array<FeatureItem> = [
  {
    title: "選べる入力",
    description:
      "VOICEROID, CoeFont, VOICEVOX, SofTalk, TALQuが利用できます。 ※1 ※2",
    icon: "mdi:import",
  },
  {
    title: "選べる出力",
    description:
      "srtとxmlが生成できます",
    icon: "mdi:export",
  },
  {
    title: "動作確認済み動画ソフト",
    description:
      "DaVinci Resolve, Finul Cut Proで動作を確認済み ※1",
    icon: "mdi:video",
  },
  {
    title: "Free Software",
    description:
      "LGPL v3.0の下ご利用いただけます",
    icon: "mdi:compressed-file-outline",
  },
  {
    title: "表記不要",
    description:
      "動画に利用したときのクレジット・ライセンス表記は不要です",
    icon: "mdi:license",
  },
  {
    title: "マルチプラットフォーム",
    description:
      "GUI, CLIはWindows, macOS, Ubuntuで利用可能",
    icon: "mdi:check-all",
  },
];
---

<ContentSection title="Features" id="features">
  <ul class="grid max-w-6xl grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
    {
      features.map(({ title, description, icon }) => (
        <li class="flex flex-col items-center gap-4 p-6 border border-default bg-offset">
          <div class="w-16 h-16 p-3 border-2 border-current rounded-full">
            <Icon name={icon} />
          </div>
          <p class="text-xl font-extrabold text-center">{title}</p>
          <p class="text-sm text-center text-offset">{description}</p>
        </li>
      ))
    }
  </ul>
  <Fragment>
    ※1: halberdはこれらソフトウェア・サービスの権利を有する方々とは関係ない非公式のものになります<br>
  </Fragment>
  <Fragment>
    ※2: 対応していなくてもtxtファイルのencodingが合えば使えるかもしれません
  </Fragment>
</ContentSection>
