---
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="HelpMe" id="helpme">
  <Fragment slot="lead">
    pr歓迎！<br>
    コードを書く以外でも<span class="text-primary"></span><a href="https://github.com/o108minmin/halberd/issues?q=is%3Aissue+is%3Aopen+label%3A%E8%AA%B0%E3%81%A7%E3%82%82%E8%89%AF%E3%81%84%E3%81%AE%E3%81%A7%E5%8A%A9%E3%81%91%E3%81%A6%E3%81%BB%E3%81%97%E3%81%84">このissue</a></span>に情報提供をしていただけると、とっても助かります
  </Fragment>
</ContentSection>
