---
import { Icon } from "astro-icon";
import ContentSection from "~/components/content-section.astro";
---

<ContentSection title="intro" id="intro">
  <Icon slot="eyebrow" name="logomark" class="h-32" />
  <Fragment slot="lead">
    halberdは<br><br>
    多くのTTSに対応した動画作成者向けの<span class="text-primary">字幕ファイル作成ツール</span>です。<br><br>
    お使いのTTSが作成したtxtファイルとwavファイルがあれば<span class="text-primary">簡単に利用</span>できます。<br><br>
    <span class="text-primary">Windows, macOS, Ubuntu</span>に対応し、動画公開時のクレジット、ライセンス表記などなくご利用いただけます。
  </Fragment>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2">
    <a
      href="https://github.com/o108minmin/halberd"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="github" class="h-8" />
      <span>repository</span>
    </a>
    <a
      href="https://github.com/o108minmin/halberd/releases"
      class="flex items-center justify-center gap-3 px-6 py-4 border-2 border-current"
    >
      <Icon pack="mdi" name="rocket" class="h-8" />
      <span>Get App</span>
    </a>
  </div>
</ContentSection>
